*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%; 
    
    --text-color:  #fff;
    --text-color-footer: #3b2349;
    --bg-url:  url(./assets/bg-desktop.webp);
    --bg-url-mobile:  url(./assets/bg-mobile.webp);

    --strok-color:rgba(255, 255, 255, 0.50);
    --surface-color:rgba(255, 255, 255, 0.10 ); 
    --bg-image-and-footer: radial-gradient(circle, rgb(173, 158, 184) 0%, rgb(156, 130, 172) 35%); 
    --img-filter: invert(1);
    --img-border: rgba(255, 255, 255, 0.50);
    --switch-img: url(./assets/moon-stars.webp);
    --switch-mode:0;
}

.light{
    --text-color: black;
    --text-color-footer: #e9e2ec; 
    --bg-url: url(./assets/bg-desktop-light.webp);
    --bg-url-mobile:  url(./assets/deus.webp);

    --strok-color: rgba(0, 0, 0, 0.50);
    --surface-color: rgba(0, 0, 0, 0.05);  
    --bg-image-and-footer: radial-gradient(circle,rgb(97, 77, 109) 0%,  rgb(97, 62, 122) 35%); 
    --img-filter: invert(0);
    --img-border: rgba(0, 0, 0, 0.50);
    --switch-img: url(./assets/sun.svg);
    --switch-mode:1; 
} 

body {
    font-size: 1.6rem;   
    background: var(--bg-url) no-repeat top center/cover;   
    font-family: 'Lato', serif;  
} 
 
#app{  
    height: 100vh; 
    display: flex;
    flex-direction: column;
} 

main{    
    max-width:36rem;  
    padding: 1.5rem 2.4rem 2.4rem ; 
    margin: auto; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

li, ul, p, a, footer{
    color:  var(--text-color);   
    font-size: clamp(1.6rem, 1vw + 0.2rem , 2rem); 
    font-weight: 400; 
    line-height: 2.4rem;
    text-align: center;
    justify-content: center; 
}

li a img{
    filter: var(--img-filter);
}
 
/** Profile **/

main #profile{    
    margin: 0;
    padding: 1rem; 
}

main #profile img{
    width: 13rem;
    border-radius: 50% !important;
    background: var(--bg-image-and-footer);
    border: 2px solid var(--img-border) ;    
}  
 
main #profile h1:nth-child(2){  
    font-size: 2.6rem;  
    font-size: clamp(2.6rem, 2vw + 0.7rem , 3rem);  

    padding:1.5rem 0 0;   
    color: var(--text-color);  
    font-weight: 700;
    
}

main #profile p:nth-child(3){ 
    font-weight: 400;   
    padding: .5rem 0;   
    font-size: 1.6rem;  
    font-size: clamp(1.6rem, 1vw + 0.8rem , 1.9rem);  

} 

.switch *{ 
    cursor:pointer;
}
/** Switch*/
.switch{ 
    /* display: flex;
    align-items: center;
    margin: auto; */ 
    position: relative;

    width: 6.4rem; 
    margin: 0 auto;
    padding: 2rem 0  ;
}

.switch button{
    width: 3.2rem;
    height: 3.2rem;
    background: #fff no-repeat center;
    border:0;
    border-radius: 50%;
    background-image: var(--switch-img);

    position: absolute;
    z-index: 1;
    left: var(--switch-mode); 
    
    
    top:50%;
    transform: translateY(-50%);
}

.switch span{
    display: block;
    width:6.4rem;
    height: 2.4rem; 
     
    border: 1px solid var(--surface-color);
    background: var(--strok-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(.4rem);

    border-radius: 999.9rem;
}


/** Links **/

main .links { 
    font-family: 'Lato', serif;
}
main .links ul {
    list-style: none;
  
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  
    padding: 1.4rem 0;
  }

 ul li a{  
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;

    padding: 1.6rem 2.4rem;
 
    background:  var(--surface-color);
    border: 1px solid  var(--strok-color) ;  
    border-radius: 8px;

    backdrop-filter: blur(4px); 
    -webkit-backdrop-filter: blur(4px);   

    text-decoration: none;

    transition: background 0.2s; 
} 
 
main .links a:hover{ 
    background: rgba(255, 255, 255, 0.05) ; 
    border: 1.5px solid var(--text-color); 
    cursor:pointer
}  

ion-icon{
    width: 2rem;
    height: 2rem;
}

main .links img{
    width: 2.3rem;
    height: 2rem;
}
 
/** Footer **/
footer{  
    border-top: 1px dashed var(--text-color); 
    border-bottom: 1px dashed var(--text-color);  
    background:var(--bg-image-and-footer);    
    padding: 1rem ;
	width:100%;  
    background: var(bg-image-and-footer );
}
 
footer p{
    color: var(--text-color-footer);
    font-weight: bold;
} 
  

@media(min-width:541px){ 
    main{
        max-width: 541px; 

    }
    body{ 
        background-image: var(--bg-url-mobile);
    }
} 
 
@media(min-width:768px){   
    body{ 
        background-image: var(--bg-url);
    }
    main{
        max-width: 768px;  

    } 
} 
 
 